.title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 35px;
  text-decoration: underline;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 1700px;
}
.header {
  width: 800px;
  margin-bottom: 30px;
  background-color: rgb(252, 150, 17);
  color: white;
  &_son {
    display: flex;
    justify-content: space-between;
  }
}
.body {
  width: 800px;
  display: flex;
  flex-direction: column;
}
.eachproperty {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.add {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}
.formAda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  width: 200px;
}
.btn {
  width: 200px;
}
.eachtd {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
